.SXIcecap-web {
	.hide {
		display:none;
	}

	.show {
		display:block;
	}

	.display-inline-block {
		display:inline-block;
	}

	> .card-horizontal {
		margin-bottom: 0px;
	}
	
	> .main-content-card {
		min-height: auto !important;
	}

	> .form-group {
		margin-bottom: 0.5rem;
	}

	> .form-control {
		margin-bottom: 0.5rem;
		background-color: rgba(255, 255, 255, 0.989);
		width:100%;
	}

	.form-section {
		margin-bottom: 0.5rem;
		background-color: rgba(255, 255, 255, 0.989);
		width:100%;
	}
	
	.show-border{ 
		border: solid #ddd 1px;
	}

	.lfr-ddm-field-group {
		margin-bottom: 5px;
	}

	.title-horizontal-line {
		margin-top: 0.5rem;
		border-top: 3px solid #bbb;
	}

	.content-horizontal-line {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-top: 3px solid #ddd;
	}

	.right{
		float: right;
	}

	> .vertical-align-bottom{
		bottom:0;
		position: absolute;
	}

	> .height-full{
		height: 100%;
	}

	> .full{
		min-height:100%;
		min-width:100%;
	}

	> .border{
		border: 2px solid gray !important;
		margin-bottom: 5px;
	}

	.vertical-center-side-border{
		display: flex;
		align-items: center;
		justify-content: center;
		border-left: 1px solid lightgray !important;
		border-right: 1px solid lightgray !important;
	}

	> .bottom-margin{
		margin-bottom: 15px;
	}

	.highlight-border{
		border: 3px solid darkcyan;
	}

	> .center-button{
		width:80px;
		height:65px;
		padding: 2px;
		margin: 5px 0;
	}
}

.sss-term-asset-template {
	.wide-top-margin-row {
		margin-top:1rem;
	}
}